//Secci贸n nav-navigation
.navigation {
    font-family: $raleway;
    font-size: $small;

    &__right {
        font-weight: $bold;
    }
}

//Secci贸n header-principal
.principal {
    font-family: $open-sans;

    &__text {

        &--title {
            font-weight: $bold;
        }

        &--paragraph {
            font-size: $small;
        }
    }
}

//Seccion main-information
.information {
    font-family: $open-sans;

    h2 , h4 {
        font-weight: $bold;
    }

    &__progress {
    
        &--description p {
            font-size: $small;
        }
    }
}

//Secci贸n section-cost
.cost {
    font-family: $open-sans;

    &__card {
    
        &--information h2 {
            font-family: $raleway;
            font-weight: $bold;
        }

        &--information li , &--information button {
            font-size: $small;
        }
    }
}

//Secci贸n footer-final
.final {
    font-family: $raleway;
    font-size: $small;
}