.navigation {
    font-family: $raleway;
    font-size: $small;

    &__right {
        font-weight: $bold;
    }
}

.principal {
    font-family: $open-sans;

    &__text {
        
        &--title {
            font-weight: $bold;
        }

        &--paragraph {
            font-size: $small;
        }
    }
}