//Sección nav-navigation
.navigation {
    font-family: $raleway;
    font-size: $small;

    &__right {
        font-weight: $bold;
    }
}

//Sección header-principal
.principal {
    font-family: $open-sans;

    &__text {

        &--title {
            font-weight: $bold;
        }

        &--paragraph {
            font-size: $small;
        }
    }
}

//Seccion main-information
.information {
    font-family: $open-sans;

    h2 , h4 {
        font-weight: $bold;
    }

    &__progress {
    
        &--description p {
            font-size: $small;
        }
    }
}

/*
//Sección section-cost
.cost {
    font-family: $open-sans;

    &__grup--title {
        font-weight: $bold;
    }

    .card {
    
        .card-body h2 {
            font-family: $raleway;
            font-weight: $bold;
        }

        .card-body li , .card-body button {
            font-size: $small;
        }
    }
}
*/

//Sección section-cost
.cost {
    font-family: $open-sans;

    &__title {
        font-weight: $bold;
    }

    &__card {
    
        &--information h2 {
            font-family: $raleway;
            font-weight: $bold;
        }

        &--information li , &--information button {
            font-size: $small;
        }
    }
}

//Sección footer-final
.final {
    font-family: $raleway;
    font-size: $small;
}