.information {

    &__title {
        text-align: center;
    }
    
    &__progress {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 6rem;
        margin: 3rem 12rem;

        &--graphic {
            display: flex;
            justify-content: flex-end;

            img { 
                width: 20rem;
                height: 10rem;
            }
        }

        &--description {
            justify-content: flex-start;

            h4 {
                margin-bottom: .5rem;
            }

            h4 , p {
                width: 20rem;
            }
        }
    }
}