.navigation {
    display: flex;
    justify-content: space-between;
    margin: 1rem 7rem;

    &__left , &__right {
        display: flex;
        align-items: center;
    }

    &__left {
        &--list {
            list-style: none;
            display: flex;
        }
    }

    &__right {
        &--list {
            list-style: none;
        }

        &--button {
            background-color: $ball-blue;
            border: 0px solid;
            color: $white;
            padding: .3rem .5rem;
        }
    }

    li, img {
        margin-right: 1.5rem;
    }
}